@import url('https://fonts.googleapis.com/css2?family=Syne:wght@750&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200&display=swap');

@import "tailwindcss";

@theme static {
  --font-var1: "Syne", sans-serif;
  --font-var2: "Plus Jakarta Sans", sans-serif;
  
  --color-brand-white: #F3EFEE;
  --color-brand-primary: #5e8cff;
  --color-brand-black: #080808;
  --color-brand-gray: #C8C5C4;
  --color-brand-darker: #2d488a;
  --color-brand-brighter: #5e8cff;
}

@layer components {
  .heading1 {
    @apply font-var1 text-4xl md:text-6xl;
  }
  .heading2 {
    @apply font-var1 text-2xl md:text-4xl;
  }
  .heading3 {
    @apply font-var1 text-xl md:text-2xl;
  }
  .largetext {
    @apply font-var2 text-xl md:text-2xl;
  }
  .regulartext {
    @apply font-var2 text-base md:text-lg;
  }
  .smalltext {
    @apply font-var2 text-xs md:text-sm;
  }
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .snap-y {
    scroll-snap-type: y mandatory;
  }
  .snap-center {
    scroll-snap-align: center;
  }
}

nav{
  @apply font-var1 text-3xl;
}

.wave{
  animation: wave-animation 60s infinite;
}

@keyframes wave-animation {
  0%, 100% {
    transform: scale(1) rotateX(5deg) rotate(-3deg) scaleX(1);
  }
  50% {
    transform: scale(1.05) rotateX(0deg) rotate(3deg) scaleX(1.05);
  }
}